@page
@model EmployeeManagementSystem.Pages.EmployeeFE.AddEmployeeModel
@{
    ViewData["Title"] = "Add Employee";
}
<div class="add-employee-card">

<h2 class="my-4">Add New Employee</h2>

    <form method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="mb-3">
        <label asp-for="Employee.FirstName" class="form-label"></label>
        <input asp-for="Employee.FirstName" class="form-control" />
        <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Employee.LastName" class="form-label"></label>
        <input asp-for="Employee.LastName" class="form-control" />
        <span asp-validation-for="Employee.LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Employee.PhoneNumber" class="form-label"></label>
        <input asp-for="Employee.PhoneNumber" class="form-control" />
        <span asp-validation-for="Employee.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Employee.Email" class="form-label"></label>
        <input asp-for="Employee.Email" class="form-control" />
        <span asp-validation-for="Employee.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Employee.Salary" class="form-label"></label>
        <input asp-for="Employee.Salary" class="form-control" type="number" step="10" />
        <span asp-validation-for="Employee.Salary" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Employee.Position" class="form-label"></label>
        <input asp-for="Employee.Position" class="form-control" />
        <span asp-validation-for="Employee.Position" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Employee.HireDate" class="form-label"></label>
        <input asp-for="Employee.HireDate" class="form-control" type="date" />
        <span asp-validation-for="Employee.HireDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Employee.DateOfBirth" class="form-label"></label>
        <input asp-for="Employee.DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="Employee.DateOfBirth" class="text-danger"></span>
    </div>

        <div class="mb-3">
            <label class="form-label">Profile Image</label>
            <input asp-for="ProfileImageFile" type="file" class="form-control"  />
 
            <span asp-validation-for="ProfileImageFile" class="text-danger"></span>

        </div>

    <button type="submit" class="btn btn-primary">Save Employee</button>
</form>
</div>


@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}